In [1]:
import pandas as pd
import numpy as np

In [2]:
df_vendas = pd.read_csv('Dados/dataset.csv')

In [3]:
df_vendas['Desconto'] = np.where(df_vendas['Valor_Venda'] > 1000, 0.15, 0.10)

In [4]:
df_vendas.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda,Desconto
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600,0.1
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400,0.1
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200,0.1
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775,0.1
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680,0.1

In [5]:
df_vendas['Desconto'].value_counts()

0.10    9243
0.15     457
Name: Desconto, dtype: int64

In [7]:
print(f"No total, {df_vendas[df_vendas['Desconto'] == 0.15].shape[0]} vendas receberiam 15% de desconto.")

No total, 457 vendas receberiam 15% de desconto.

In [8]:
#### Pergunta 3

In [9]:
df_vendas['Valor_Venda_Desconto'] = df_vendas['Valor_Venda'] - (df_vendas['Valor_Venda'] * df_vendas['Desconto'])

In [10]:
df_vendas.head()

,ID_Pedido,Data_Pedido,ID_Cliente,Segmento,Pais,Cidade,Estado,ID_Produto,Categoria,SubCategoria,Valor_Venda,Desconto,Valor_Venda_Desconto
0,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-BO-10001798,Furniture,Bookcases,261.9600,0.1,235.76400
1,CA-2017-152156,08/11/2017,CG-12520,Consumer,United States,Henderson,Kentucky,FUR-CH-10000454,Furniture,Chairs,731.9400,0.1,658.74600
2,CA-2017-138688,12/06/2017,DV-13045,Corporate,United States,Los Angeles,California,OFF-LA-10000240,Office Supplies,Labels,14.6200,0.1,13.15800
3,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,FUR-TA-10000577,Furniture,Tables,957.5775,0.1,861.81975
4,US-2016-108966,11/10/2016,SO-20335,Consumer,United States,Fort Lauderdale,Florida,OFF-ST-10000760,Office Supplies,Storage,22.3680,0.1,20.13120

In [11]:
df_vendas_antes_desconto = df_vendas.loc[df_vendas['Desconto'] == 0.15, 'Valor_Venda']

In [12]:
df_vendas_depois_desconto = df_vendas.loc[df_vendas['Desconto'] == 0.15, 'Valor_Venda_Desconto']

In [13]:
media_vendas_antes_desconto = df_vendas_antes_desconto.mean()

In [14]:
media_vendas_depois_desconto = df_vendas_depois_desconto.mean()

In [15]:
print("Média das vendas antes do desconto de 15%:", round(media_vendas_antes_desconto, 2))

Média das vendas antes do desconto de 15%: 2116.81

In [16]:
print("Média das vendas depois do desconto de 15%:", round(media_vendas_depois_desconto, 2))

Média das vendas depois do desconto de 15%: 1799.29